dataCV.dtd


<!ELEMENT CVS (CV+)>
<!ELEMENT personnes (personne+)>
<!ELEMENT personne (nom, prenom, telephone)>
<!ELEMENT CV (personne, mail, linkedin, github, competances, formations)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT prenom (#PCDATA)>
<!ELEMENT telephone (#PCDATA)>
<!ELEMENT mail (#PCDATA)>
<!ELEMENT linkedin (#PCDATA)>
<!ELEMENT github (#PCDATA)>
<!ELEMENT competances (competance*)>
<!ELEMENT competance (#PCDATA)>
<!ELEMENT formations (formation*)>
<!ELEMENT formation (#PCDATA)>


